<h1>Plugins: fleegix.plugin</h1>

<hr/>

<p>
  Provides a simple API for invoking pop-up windows. Keeps the
  amount of UI clutter to a minimum by enforcing a one-window
  limit.
</p>

<ul>
  <li>
    <a href="#open">fleegix.popup.open</a>
  </li>
  <li>
    <a href="#close">fleegix.popup.close</a>
  </li>
</ul>

<p>
  <a href="<%= FLEEGIX_REPO %>/plugins/popup/popup.js?raw=true">Download
  fleegix.popup (1.7KB)</a>
</p>

<a name="open"></a>

<h2>fleegix.popup.open</h2>

<h3>Syntax</h3>

<p>fleegix.popup.open(url, [popupOptions]);</p>

<h3>Parameters</h3>

<p>url <span class="dataType">(String)</span> -- URL for the location of the popup window</p>

<p>popupOptions <span class="dataType">(Object)</span> -- Options for the window to be
opened. Here is the list of possible properties to set, and
the default values if they are not set:</p>
<ul>
  <li>width: null -- Width of the window to open. If unset,
    the window is a full-sized window</li>
  <li>height: null -- Height of the window to open. If unset,
    the window is a full-sized window</li>
  <li>location: false -- Display the location bar or not</li>
  <li>menubar: false -- Display a menubar or not</li>
  <li>resizable: true -- Make the window resizable or not</li>
  <li>scrollbars: false -- Include scrollbars or not</li>
  <li>status: false -- Add a statusbar at the bottom or not</li>
  <li>titlebar: true -- Add a titlebar at the top or not</li>
  <li>toolbar: false -- Include a toolbar at the top or not</li>
</ul>

<h3>Description</h3>

<p>Opens a popup window with the desired set of options. If no
options are passed, it simply opens a normal new browser window.</p>

<p>This implementation allows only a single popup window at a
time, to keep things simple for end-users. Calling the open
method again will simply open the new URL in the same window.</p>

<h3>Examples</h3>

<pre><code>fleegix.popup.open('/search_window.rbx',
  { width: 480, height: 300 });</code></pre>

<a name="close"></a>

<h2>fleegix.popup.close</h2>

<h3>Syntax</h3>

<p>fleegix.popup.close();</p>

<h3>Parameters</h3>

<p>(None)</p>

<h3>Description</h3>

<p>Closes the popup window opened with fleegix.popup.open.</p>

<h3>Examples</h3>

<pre><code>fleegix.popup.open('/search_window.rbx',
  { width: 480, height: 300 });
fleegix.popup.close();</code></pre>


