<h1>
  Contribute
</h1>

<hr/>

<h2>
  Reporting bugs
</h2>

<p>
  If you've found a bug, please
  file a ticket for it! Go to our <a
  href="http://fleegix-js.lighthouseapp.com/dashboard">Lighthouse
  app</a>, set up an account, then add your ticket.
</p>

<p>
  Please be as desriptive as possible -- and of course, please
  attach a patch if you can.
</p>

<h2>
  Writing tests
</h2>

<p>
  Tests for Fleegix.js are written using the <a
  href="http://windmill.osafoundation.org/">Windmill Web app
  testing framework</a>.

  Have a look at the <a
  href="http://github.com/mde/fleegix-js-javascript-toolkit/tree/master/tests">current
  tests in the Git repo</a>, and help us write more.
</p>

<h2>
  Contact
</h2>

<p>
  If you've got a bee in your bonnet, and the above stuff
  isn't what you're looking for, contact the author at <span
  id="mail"></span>
  <script type="text/javascript">
    var mail = 'mde' + new String('@') + 'fleegix.org';
    var str = '<a href="mailto:' + mail + '">' + mail + '</a>';
    document.getElementById('mail').innerHTML = str;
  </script>
</p>


