<h1>Docs</h1>

<hr/>

<h2>Core API Reference</h2>

<p>
  A detailed API reference for the core Fleegix.js modules <a href="/ref">is available here</a>.
</p>

<h2>Plugins</h2>

<p>
  Documentation for many of the various Fleegix.js plugins <a href="/plugins">can be found here</a>.
</p>


