<h1>FAQ</h1>

<hr/>

<p>Please feel free to <a href="/?contact">give us a holler</a> if
you can think of anything to add.</p>

<h2><em>Another</em> JavaScript toolkit? Dear God, why?</h2>

<p>A lot of this code has been in my personal toolbox for
several years now, and I figured maybe other people might find
it useful.</p>

<p>The other stuff I wrote because I've been working with
Rails, and found that Prototype was less than optimal for
my purposes. I wanted something a bit more robust than what
you see with the lighter toolkits, but didn't want all the
infrastructure that comes with the big ones like Dojo.</p>

<p>Some stuff, like the Effects module, I just wrote for fun.</p>

<h2>I already have a toolkit I like. Why should I bother with
this thing?</h2>

<p>If you use DojiKitaculo.us, or Yu-Tools, or what have
you,and have found the One True Toolkit, I'm overjoyed for
you. I hope the two of you will be very happy together.</p>

<p>However, there may be a few things here you find useful --
and in that case Fleegix.js will play nicely with the other
libraries you use. If it doesn't, it's a bug.</p>

<h2>What is 'fleegix'?</h2>

<p>According to the <a
href="http://www.pinkwater.com/hce/index/f.html">The
Hoboken Chicken Emergencyclopedia</a>, it is defined
as follows:</p>

<blockquote>
  <strong>fleegix.</strong> A hot drink served with marshmallows
  and whipped cream.The focal point of Waka-Waka culture.
</blockquote>

<h2>How do you pronounce 'fleegix'?</h2>

<p>Your guess is as good as mine. It seems kind of difficult
to say with a soft 'g,' so I say it with the 'j' sound (as in
'giraffe'). It just kind of rolls off the tongue.</p>

