<h2>
  Fleegix.js: Simple. Useful. JavaScript.
</h2>
<p>
  Fleegix.js provides an extremely lightweight, cross-browser
  set of JavaScript tools for building dynamic Web-app UIs.
</p>
<p>
  Using Fleegix.js doesn't require you to drink a bunch
  of toolkit Kool Aid, and the code doesn't try to turn
  JavaScript into Ruby, Java, C++, or any other language --
  the code is plain, ordinary, idiomatic JavaScript.
</p>
<p>
  It will not turn you into a rock star, but it will help you
  kick JavaScript ass.
</p>
<p>
  Fleegix.js is well tested in the major-market-share
  browsers -- Firefox 1+, Internet Explorer
  6+, and Safari 2+. It is licensed under the <a
  href="http://www.apache.org/licenses/LICENSE-2.0.html">Apache
  License, Version 2</a>.
</p>

<h2>
  Core
</h2>
<p>
  The Fleegix.js core includes the basics of what you need to
  build an Ajaxy Web app:
</p>
<ul>
  <li>
    A concise but powerful <a href="/?ref#fleegix.event">events
    system</a>
  </li>
  <li>
    An industrial-strength <a href="/?ref#fleegix.xhr">XHR
    library</a>
  </li>
  <li>
    <a href="/ref#fleegix.json.serialize">JSON</a>
    and <a href="/ref#fleegix.form.serialize">Web form</a>
    serialization
  </li>
  <li>
    <a href="/ref#fleegix.css">CSS</a> manipulation
  </li>
  <li>
    <a href="/ref#fleegix.fx">Visual effects</a>
  </li>
</ul>

<h2>
  Plugins
</h2>
<p>
  Fleegix.js has a bunch of cool <a
  href="/plugins">plugins</a> that you might be interested in
  using to make your app more awesome, including:
</p>
<ul>
  <li>
    <a href="/plugins/date/date">JavaScript Dates with
    Olson timezone support</a>
  </li>
  <li>
    A sortable <a href="/plugins/hash/hash">Hash</a> ("Is it
    a Hash, or an Array?" "Yes, exactly!")
  </li>
  <li>
    A simple, no-muss-no-fuss <a href="/plugins/xml">XML
    parser</a>
  </li>
  <li>
    Some <a href="/plugins/date/util">useful date utilities</a>
    such as <code>strftime</code>, <code>add</code>, and
    <code>diff</code>
  </li>
  <li>
    Some cool <a href="/plugins/color/convert">color conversion
    utilities</a>
  </li>
</ul>
<p>
  Most of the plugins can be used standalone with your JS
  toolkit of choice.
</p>

