<style type="text/css">
#contentsList li {  margin-bottom: 8px; }
</style>

<h1>Plugins</h1>

<hr/>

<p>
  These are plugin modules available for the Fleegix.js
  toolkit. They were all developed to work with Fleegix.js,
  but may also be used on their own.
</p>

<p>
  Using the Fleegix.js <a href="/build">build system</a>, you
  can build a custom fleegix.js file that includes the plugin
  modules you want to use, to keep the number of JavaScript
  includes on your page to a minumum.
</p>

<h1>Contents</h1>

<hr/>

<ul id="contentsList">
  <li>Date
    <ul>
      <li>
        <div>
          <a href="/plugins/date/date">fleegix.date.Date</a>
        </div>
        <div>
          A timezone-enabled replacement for the
          built-in JavaScript Date. Uses the <a
          href="http://en.wikipedia.org/wiki/Zoneinfo">Olson
          zoneinfo files</a> for its timezone data.
        </div>
      </li>
      <li>
        <div>
          <a href="/plugins/date/util">fleegix.date.util</a>
        </div>
        <div>
          Date formatting and manipulation utilities --
          includes <code>strftime</code>, <code>add</code>,
          and <code>diff</code>.
        </div>
      </li>
    </ul>
  </li>
  <li>EJS
    <dl>
      <dd>
        <div>
          <a href="/plugins/ejs">fleegix.ejs</a>
        </div>
        <div>
          Embedded JavaScript templating. Embed JavaScript in
          client-side HTML templates with the familiar &lt;%
          %&gt; tags.
        </div>
      </dd>
    </dl>
  </li> <li>XML
    <dl>
      <dd>
        <div>
          <a href="/plugins/xml">fleegix.xml</a>
        </div> <div>
          XML parser that can deserialize an XML document into
          an JavaScript Object hierarchy.
        </div>
      </dd>
    </dl>
  </li> <li>Form
    <ul>
      <li>
        <div>
          <a href="/plugins/form/diff">fleegix.form.diff</a>
        </div> <div>
          Shows the difference between the field values in
          different forms (or serialized forms). Gives the
          original as well as changed values.
        </div>
      </li> <li>
        <div>
          <a
          href="/plugins/form/restore">fleegix.form.restore</a>
        </div> <div>
          Allows you to restore a form from a serialized
          representation of its fields.
        </div>
      </li>
    </ul>
  </li> <li>Hash
    <dl>
      <dd>
        <div>
          <a href="/plugins/hash/hash">fleegix.hash.Hash</a>
        </div> <div>
          Sortable collection object which allows items to be
          indexed both by string key or by index.
        </div>
      </dd>
    </dl>
  </li> <li>Color
    <dl>
      <dd>
        <div>
          <a
          href="/plugins/color/convert">fleegix.color.convert</a>
        </div> <div>
          Color conversion functions including
          <code>hex2rgb</code>, <code>rgb2hex</code>,
          <code>hsv2rgb</code>, and <code>rgb2hsv</code>.
        </div>
      </dd>
    </dl>
  </li> <li>Popups
    <dl>
      <dd>
        <div>
          <a href="/plugins/popup">fleegix.popup</a>
        </div> <div>
          Provides a simple API for invoking pop-up
          windows. Keeps the amount of UI clutter to a minimum
          by enforcing a one-window limit.
        </div>
      </dd>
    </dl>
  </li>
</ul>




